Repository CntoDev/compositions, pull requests merged in 2020-09, with the labels that each got.

#121 Vietnam US Army Faction
  Approved Custom Factions/Vietnam%20US%20Army/composition.sqe
  Approved Custom Factions/Vietnam%20US%20Army/header.sqe
Labels: Custom Factions

#119 Standard factions 1.14.2
  reference/PMC%20Faction/composition.sqe
  reference/Task%20Force%20Noctem/composition.sqe
Labels: SF PMC, SF Taskforce Noctem, bug, enhancement

#123 US Army Update v1.14.2
  reference/US%20Army/composition.sqe
Labels: SF US Army, bug, enhancement

#118 Russian Army Update v1.14.2
  reference/Russian%20Army/composition.sqe
Labels: SF Russian Army, bug, enhancement
